<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/jdbc 
           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!-- BEGIN - DERBY DIRECT DATASOURCE IMPLEMENTATION -->
    
    <!-- Set system properties with Spring -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="java.lang.System" />
		<property name="targetMethod" value="setProperty" />
		<property name="arguments">
			<list>
				<value>derby.stream.error.field</value>
				<value>./target/derbydb.log</value>
			</list>
		</property>
	</bean>
	
	<bean id="derbyTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" lazy-init="true">
		<property name="dataSource" ref="derbyDataSource"/>
	</bean>
	
    <bean id="derbyDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="${derby.jdbc.driverClassName}"/>
        <property name="url" value="${derby.jdbc.url}"/>
        <property name="username" value="${derby.jdbc.username}"/>
        <property name="password" value="${derby.jdbc.password}"/>
        <property name="defaultAutoCommit" value="false"/>
    </bean>

<!-- THIS DOES NOT WORK... -->    
<!--     <jdbc:initialize-database data-source="derbyDataSourceReal" > -->
<!-- 		<jdbc:script location="classpath:/sql/derby_hsqldb_create_db.sql" /> -->
<!-- 	</jdbc:initialize-database> -->
    <!-- END - DERBY DIRECT DATASOURCE IMPLEMENTATION -->
    
</beans>