<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		 xmlns:context="http://www.springframework.org/schema/context"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="com.jporm" />

    <!-- the parent application context definition for the springapp application -->
	<import resource="spring-context-derby.xml"/>
	<import resource="spring-context-h2.xml"/>
	<import resource="spring-context-hsqldb.xml"/>
	<import resource="spring-context-mysql.xml"/>
	<import resource="spring-context-oracle.xml"/>
	<import resource="spring-context-postgresql.xml"/>
	
	<bean id="propertyConfigurer" 
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:./test-config/test-config.properties</value>
            </list>
        </property>
    </bean>
    
</beans>